<%- include("./layouts/header") -%> 
<%- include("./layouts/navbar"); -%>

<% if(success[0]||error[0]){ %>
  <main class="container mt-3">
      <%- include("./layouts/flash"); -%>
  </main>
  <% } %>
   <div class="header-compny">
    <h3 class="text-center" style="color: chocolate;">Create a company</h3>
    
</div>
    <div class="container">
<div class="row">
<div class="col-md-3">
<div class="card card-style "  >
    <div class="card-body">

     <h6 class="card-text text-center">Small business </h6>
     <p class="card-text1 text-center">fewer than 200 employees</p>
     <a href="/compny/fillup" class="stretched-link"></a>
    </div>
    </div>
</div>


<div class="col-md-3">
    <div class="card card-style " >
        <div class="card-body  ">
    
         <h6 class="card-text text-center"> Medium to large business </h6>
         <p class="card-text1 text-center">More than 200 employees</p>
         <a href="/compny/fillup" class="stretched-link"></a>
        </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-style " >
            <div class="card-body">
        
             <h6 class="card-text text-center">Showcase page</h6>
             <p class="card-text1 text-center"> all about page</p>
             <a href="/compny/fillup" class="stretched-link"></a>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-style" >
                <div class="card-body">
            
                 <h6 class="card-text text-center"> Educational Institution </h6>
                 <p class="card-text1 text-center">Schools and university</p>
                 <a href="/compny/fillup" class="stretched-link"></a>
                </div>
                </div>
            </div>

</div>
</div>

<%- include("./layouts/footer") -%> 
