<%- include("./layouts/header") -%> 
   <div class="header-compny">
    <h5 class="text-center">create a Linkedin page</h5>
    <p class="text-center">Connect with clients, employees, and the LinkedIn community. To get started, choose a page type.</p>
</div>
    <div class="container">
<div class="row">
<div class="col-md-3">
<div class="card card-style "  >
    <div class="card-body">

     <h6 class="card-text text-center">Small business </h6>
     <p class="card-text1 text-center">fewer than 200 employees</p>
     <a href="/compny/fillup" class="stretched-link"></a>
    </div>
    </div>
</div>


<div class="col-md-3">
    <div class="card card-style " >
        <div class="card-body  ">
    
         <h6 class="card-text text-center"> Medium to large business </h6>
         <p class="card-text1 text-center">More than 200 employees</p>
         <a href="/compny/fillup" class="stretched-link"></a>
        </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-style " >
            <div class="card-body">
        
             <h6 class="card-text text-center">Showcase page</h6>
             <p class="card-text1 text-center"> all about page</p>
             <a href="/compny/fillup" class="stretched-link"></a>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-style" >
                <div class="card-body">
            
                 <h6 class="card-text text-center"> Educational Institution </h6>
                 <p class="card-text1 text-center">Schools and university</p>
                 <a href="/compny/fillup" class="stretched-link"></a>
                </div>
                </div>
            </div>

</div>
</div>

<%- include("./layouts/footer") -%> 
