<%- include("./layouts/header"); -%>
<%- include("./layouts/navbar"); -%>

<% if(success[0]||error[0]){ %>
    <main class="container mt-3">
        <%- include("./layouts/flash"); -%>
    </main>
    <% } %>

<div class="home">
  <div class="text-content">
 <h1>workflow with user and compny</h1>
  </div>
</div>

<%- include("./layouts/footer"); -%>
