<%- include("./layouts/header"); -%>
<h1 class="text-center">Linkedin</h1>
   <div class="sign-in">
    <div class="sign">
    <h2 >Sign in</h2>
    <p>Stay updated on your professional world</p>
    </div>
    <div class="form">
        <div class="form-group mb-4">
        <input type="text" class="form-control" name="firstname" placeholder="Email or phone">
        </div>
        <div class="form-group mb-4 mt-4">
        <input type="text" class="form-control" name="lastname" placeholder="password">
        </div>
        <p class="forgot">Forgot password?</p>
        <button class="btn btn-primary"
        type="submit">Sign in</button>
        

       
    </div>
        
   </div>

   <p class="text-center">New to LinkedIn? Join now</p>

<%- include("./layouts/footer"); -%>