<%- include("./layouts/header"); -%>
<%- include("./layouts/navbar"); -%>

<% if(success[0]||error[0]){ %>
  <main class="container mt-3">
      <%- include("./layouts/flash"); -%>
  </main>
  <% } %>


<div>
    <h1 class="header  text-center">Register</h1>
</div>

  <div class="card" style="width: 40%; margin: auto;height: 90vh; background-color:lightyellow">
    <div class="card-body">
      <form method="post" action="/register/user">
          <div class="mb-3">
            <label for="name" class="form-label"
              >Name</label >
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="name"
            />
          </div>

          <div class="mb-3">
          <label for="Email" class="form-label"
            >Email</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            >Password</label
          >
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-primary button-style">Submit</button>
      </form>

      <p class="text-center mt-3 mb-3">or</p>
      <div class="google">
      <a href="/google" class="google">Join with Google</a>
      </div>

      <p class=" text-center mt-4">Already on LinkedIn?<a href="/login" style="text-decoration: none;">Sign in</a></p>
    </div>
  </div>
<%- include("./layouts/footer"); -%>