@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,500&display=swap");

.header {
  width: 300px;
  margin-left: 300px;
}
.text {
  font-size: 0.8em;
  width: 80%;
}
.sign-in {
  width: 40%;
  margin: 30px auto;
  box-shadow: 5px 5px 5px 5px rgba(240, 226, 226, 0.8);
  height: 65vh;
  background-color: lightyellow;
}
.sign {
  margin-left: 25px;
  /* margin-top: 30px; */
  position: relative;
  top: 20px;
}
.form-group {
  position: relative;
  top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
input {
  height: 50px;
}
.forgot {
  margin-left: 25px;
  margin-top: 30px;
}
.button-style {
  width: 90%;
  margin-left: 25px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
}
.card-style {
  width: 90%;
  overflow: hidden;
  margin: auto;
  padding: 0px;
  height: 30vh;
  background-color: blanchedalmond;
}
.header-compny {
  margin: 5em auto;
}
.card-text {
  position: relative;

  top: 30px;
  /* left: 5px; */
}

.card-text1 {
  position: relative;

  top: 30px;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
  color: aqua;
}
.card-style:hover {
  border: 2px solid black;
}

.nav-style {
  font-weight: bold;
}
.google {
  width: 90%;
  margin-left: 25px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  border: 1px solid blue;
}
.google a {
  position: relative;
  top: 5px;
  font-weight: bold;
  border: none;
  text-decoration: none;
}
.post {
  width: 45%;
  /* background: #ededf5; */
  background-color: #f8f9fa;
  margin: auto;
  margin-top: 25px;
  box-shadow: 5px 5px 5px 5px rgba(240, 226, 226, 0.8);
}
.bothof img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.name {
  margin-top: 5px;
  margin-left: 10px;
}
.bothof {
  display: flex;
  position: relative;
  top: 10px;
  left: 15px;
}
.inside-name {
  color: grey;
}
.post-content {
  text-align: justify;
  word-wrap: break-word;
  padding-right: 25px;
  font-weight: 600;
}
.post-image img {
  width: 100%;
  height: 50%;
}
.home {
  width: 100%;
  height: 80vh;
  opacity: 0.9;
}
.text-content {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  text-shadow: 2px 2px #fff;
  color: chocolate;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.nav-logo {
  margin-left: -150px;
  margin-bottom: -5px;
}
.nav-logo img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.nav-logo .nav-link {
  display: inline !important;
}
.hovrable {
  width: 275px;
  height: 450px;
  background-color: hsl(25, 100%, 97%);
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.section {
  color: grey;
  margin-left: 15px;
}
.section h6 {
  color: rgba(0, 0, 0, 0.9);
}
.sec:hover {
  text-decoration: underline;
}
.section h6:hover {
  text-decoration: none;
}
.profile-detail {
  width: 50%;
  height: 80vh;
  /* background-color: rgb(229, 233, 230); */
  background-color: #e6d3f3c9 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.profile-image {
  position: relative;
  top: 30px;
  left: 25px;
}
.profile-image img {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  overflow: hidden;
}
.profile-name {
  position: relative;
  top: 30px;
  left: 30px;
}
.text_profile {
  margin-bottom: 0px;
}
.about-section {
  width: 300px;
  height: 300px;
  background-color: #f8f9fa;
  float: right;
  margin-top: -300px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: justify;
  font-weight: 600;
}
.about-inner {
  margin: 2em 2em;
}

.googleone {
  width: 100%;
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  border: 1px solid blue;
}
.googleone a {
  position: relative;
  border: none;
  text-decoration: none;
}

.about-sectionone {
  background-color: seashell;
  float: right;
  margin-top: -250px;
  margin-left: 275px;
  margin-right: 10px;
  border-radius: 20px;
  text-align: justify;
  font-weight: 600;
}
.about-innerone {
  margin: 2em 2em;
}
.table-class {
  width: 80%;
  margin: 20px auto;
}
.form-data {
  width: 80%;
  background: lightyellow;
  margin: auto;
}
.form-input {
  position: relative;
  top: 10px;
  width: 80%;
  margin: auto;
}

.compny-form {
  width: 50%;
  margin: 20px auto;
  box-shadow: 5px 5px 5px 5px rgba(240, 226, 226, 0.8);
  background-color: lightyellow;
}
/* .abc {
  width: 250px;
} */
.hovering {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 10px;
}

.nav-style {
  font-weight: bold;
  /* background-color: #d3d6f3 !important; */
  /* background-color: #ddd3f3 !important; */
  background-color: #e6d3f3 !important;
}
body {
  background: url("/images/background.png") no-repeat center fixed;
  backdrop-filter: blur(1px);
  font-family: "Poppins", sans-serif;
}
.dropdown-menu {
  background-color: inherit !important;
  background-clip: unset !important;
  border: none !important;
  border-radius: 0;
}
.section a.nav-link {
  padding-left: 0 !important;
}

.dropdown-menu[data-bs-popper] {
  top: 90% !important;
  left: -150% !important;
}
