.header {
  margin: 10px auto 10px auto;
}
.text {
  font-size: 0.8em;
  width: 80%;
}
.sign-in {
  width: 40%;
  margin: 30px auto;
  box-shadow: 5px 5px 5px 5px rgba(240, 226, 226, 0.8);
  height: 60vh;
}
.sign {
  margin-left: 25px;
  /* margin-top: 30px; */
  position: relative;
  top: 20px;
}
.form-group {
  position: relative;
  top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
input {
  height: 50px;
}
.forgot {
  margin-left: 25px;
  margin-top: 30px;
}
.button-style {
  width: 90%;
  margin-left: 25px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
}
.card-style {
  width: 90%;
  overflow: hidden;
  margin: auto;
  padding: 0px;
  height: 30vh;
}
.header-compny {
  margin: 5em auto;
}
.card-text {
  position: relative;

  top: 30px;
  /* left: 5px; */
}

.card-text1 {
  position: relative;

  top: 30px;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
  color: aqua;
}
.card-style:hover {
  border: 2px solid black;
}

.nav-style {
  font-weight: bold;
}
.form-input {
  width: 60%;
  margin: auto;
  margin-top: 2em;
}
.google {
  width: 90%;
  margin-left: 25px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  border: 1px solid blue;
}
.google a {
  position: relative;
  top: 5px;
  font-weight: bold;
  border: none;
}
.post {
  width: 45%;
  background: #ededf5;
  margin: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 5px 5px rgba(240, 226, 226, 0.8);
}
.bothof img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.name {
  margin-top: 5px;
  margin-left: 10px;
}
.bothof {
  display: flex;
  position: relative;
  top: 10px;
  left: 15px;
}
.inside-name {
  color: grey;
}
.post-content {
  text-align: justify;
  word-wrap: break-word;
  padding-right: 25px;
}
.post-image img {
  width: 100%;
  height: 50%;
}
